$color_black: rgb(15, 15, 15);
$color_white: rgb(240, 240, 240);

$color_signal: #FF0054;
$color_signal_alt: #FF5C00;

$color_primary: #390099;
$color_primary_lighter: #94B1FD;
$color_primary_darker: #28006e;
